<html>
    <body>
        <form id="compare_form">
            <label>First JSON:</label><input type="text" name="dict_1"/>
            <br/>
            <label>Second JSON:</label><input type="text" name="dict_2"/>
            <br/>
            <input type="submit" value="submit" />
        </form>
        <input type="text" name="diff_output" id="diff_output" />

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript">
            $('#compare_form').submit(function(e) {
                    e.preventDefault();
                    var data = {};
                    var Form = this;
                    $.each(this.elements, function(i, v) {
                        var input = $(v);
                        data[input.attr("name")] = input.val();
                        delete data["undefined"];
                    });
                    $.ajax({
                        type: 'POST',
                        url: '/api/v1.0/compare_json',
                        dataType: 'json',
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify(data),
                        context: Form,
                        success: function(callback) {
                            console.log(callback.toString());
                            // Watch out for Cross Site Scripting security issues when setting dynamic content!
                            //$(this).text(JSON.stringify(callback.diff));
                            $("#diff_output").val(JSON.stringify(JSON.parse(callback.diff), null, 4));
                        },
                        error: function() {
                            $(this).html("error!");
                        }
                    });
                });
        </script>
    </body>
</html>